.col-md-4
  .well
    %h4 Blog Search
    .input-group
      %input.form-control{type: 'text', placeholder: 'To be implemented...'}/
      %span.input-group-btn
        %button.btn.btn-default{type: 'button'}
          %span.glyphicon.glyphicon-search
  .well
    %h4 Code Project
    %p Example system to show Ruby on Rails programming capabilities.
