.container
  .row
    .col-md-8
      %h1.page-header
        Current Posts
        %small Code Project
        %small.pull-right
          - if user_signed_in?
            = link_to '+', new_post_path
          - else
            #{link_to('Sign in', new_user_session_path)} to post
      - if @posts.empty?
        %h2 No posts yet.
      - @posts.each do |post|
        = render 'posts/post', post: post
        - unless post == @posts.last
          %hr
    .col-md-4
      .well
        %h4 Post Search
        .input-group
          %input.form-control{:type => "text"}/
          %span.input-group-btn
            %button.btn.btn-default{:type => "button"}
              %span.glyphicon.glyphicon-search
      .well
        %h4 Code Project
        %p Example system to show Ruby on Rails programming capabilities.
  %hr/
