.container
  .row
    .col-lg-8
      .post{id: "post-#{@post.id}"}
        = render 'posts/post', post: @post, show_comments: true
    = render 'shared/right_sidebar'
  %footer
    = link_to 'Back', posts_path, class: 'btn btn-default'
